body {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/bg.png');
}

article {
    font-family: 宋體, serif;
    //font-size: 12pt;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/article-bg.png');
}

a {
    text-decoration: none;
}

#prev {
    position: fixed;
    top: 50%;
}

#next {
    position: fixed;
    top: 50%;
}

#title {
    color: #202020;
}

#content {
    color: #202020;
}
