<head>
</head>
<body>
    <div id='container' class='ui grid'>
        <div class='two wide column'>
            <a id='prev'><i class="massive black left arrow link icon"></i></a>
        </div>
        <div class='twelve wide column'>
            <article class='ui stacked segment'>
                <div class="ui basic segment">
                    <header>
                        <div class='ui grid'>
                            <div class='twelve wide column'>
                                <h1 id='title' class='ui header'></h1>
                            </div>
                            <div class='two wide column'>
                                <a href='#'><i id='setting_btn' class='huge black setting icon'></i></a>
                            </div>
                            <div class='two wide column'>
                                <a href="#"><i id='bookmark' class='huge black tags icon'></i></a>
                            </div>
                        </div>
                    </header>
                </div>
                <div id='content'></div>
                <div id='author_txt' class="ui yellow message segment"></div>
            </article>
        </div>
        <div class='two wide column'>
            <a id='next'><i class="massive black right arrow link icon"></i></a>
        </div>
    </div>
</body>
